@font-face {
			font-family: Title;
			src: url("../fonts/仓迹高德国妙黑.ttf");
		}
		.biaoti {
	margin: 0;
    padding: 10px 0 10px 10px;
    width: 100% !important;
    min-width: 100%;
    height: 38px !important;
    justify-content: flex-start;
    display: flex !important;
    align-items: center;
	font-family: Title;
    font-size: 16;
    letter-spacing: 2px;
	font-weight: normal;
    background-clip: padding-box;
    background-color: rgba(186, 28, 20, 1);
	color: rgba(255, 255, 255, 1);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
	user-select: none;
    }
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		img {
			vertical-align: middle;
			max-width: 100%;
		}

		p {
			margin: 0;
		}

		h4 {
			margin: 0;
			font-weight: normal;
		}

		a {
			text-decoration: none;
		}

 		body {
 			margin: 0;
 			font-family: tahoma, arial, "Hiragino Sans GB","\5b8b\4f53", sans-serif;
 			font-size: 14px;
 			line-height: 1.4286;
 			color: #333;
 		}

 		.full-width {
 			width: 100% !important;
 		}

 		#news .nav {
		    display: flex;
		    justify-content: space-around;
		    align-items: center;
		    height: 44px;
		    background: #fafafa;
		    border-bottom: 1px solid #e8e8e8;
		    padding: 0 2%;
		    font-size: 13px;
 		}

 		#news .nav a {
 			display: block;
 			color: #969696;
 		}

 		#news .nav .active a {
 			color: #ba1d14;
 			font-weight: bold;
 		}

 		#news .con {
 			width: 90%;
 			margin: 0 auto;
			ustify-content: center;
 		}

 		#news .con li {
 			overflow: hidden;
 			padding: 12px 0;
 			border-bottom: 1px solid #f3f3f3;
 			position: relative;
 		}

 		#news .con .detail {
			float: left;
			width: 68%;
 		}

		#news .con h4 {
			margin-bottom: 5px;
		}

		#news .con p {
			line-height: 1;
		}

		#news .con span {
			font-size: 12px;
			margin-right: 6px;
			color: #969696;
		}
	
 		#news .con .image {
			float: right;
			width: 30%; 
			height: 57px;
			border-radius: 2px;
			overflow: hidden;
			position: relative;
 		}

 		#news .con .image.full-width {
 			min-height: 182px;
			justify-content: center;
 		}

 		#news .con .desc {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			color: #fff;
			padding: 0 6px 10px;
 		}

 		#news .con .desc span {
 			color: inherit;
 		}

 		#news .con .cover-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
 		} 

 		#news .con .images {
 			display: flex;
    		justify-content: space-between;
    		margin-bottom: 8px;
 		}

 		#news .loading {
 			text-align: center;
 		}

 		#news .loading a {
 			display: block;
 			line-height: 32px;
 			color: #969696;			
 		}
		 .foot{
			margin-top: 40px;
			padding: 10px 0;
			font-size: 8px;
			letter-spacing: 2px;
			line-height: 26px;
			text-align: center;
			color: #fff;
			background: rgba(186, 28, 20, 1)}
			font-family: tahoma, arial, "Hiragino Sans GB","\5b8b\4f53", sans-serif;